<mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile      
      [colspan]="3"
      [rowspan]="1">
        <button mat-raised-button color="primary" routerLink="{{BtnNew.href}}" routerLinkActive="active">{{BtnNew.Value}}</button>
    </mat-grid-tile>    
    <mat-grid-tile      
      [colspan]="3"
      [rowspan]="1">    
        <button mat-raised-button color="primary" routerLink="{{BtnManage.href}}" routerLinkActive="active">{{BtnManage.Value}}</button>    
  </mat-grid-tile>
</mat-grid-list>
